h1 {
    color: red;
    text-align: center;
}

/* .my-link{
    color: red;
    text-decoration: none;
} */

.parent > .my-link {
    color: green !important;
} 


.parent .my-link{
    color: purple;
}